/* 登录页面自定义样式 */

/* 背景动画效果 */
.login-background {
  background: linear-gradient(135deg, #6b3bd3d1, #d0d7f3, #0fb4c6ca);
  background-size: 400% 400%;
  animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
